/* Reset CSS */

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


/* Styling the header */

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}


/* Styling the article content */

.content {
    margin: 20px;
}

article {
    margin-bottom: 20px;
}

h2,
h3 {
    color: #333;
    margin-top: 20px;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}


/* Styling the footer */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}